<h1 class="page-header">Extraction Distribution #{{id}}</h1>
<ol class="breadcrumb">
  <li><a href="#">RevYou</a></li>
  <li class="">Extraction Distribution #{{id}}</li>
</ol>

<div class="">
  <p>Table with all articles selected for the extraction phase.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <ng-container *ngFor="let ex of extractors; let i = index">
          <th>{{ex.name}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of articles; let i = index">
        <td>{{art.id}}</td>
        <td>{{art.title}}</td>
        <td *ngFor="let ex of extractors; let i = index">
          <input class="form-check-input" type="checkbox" id="{{ex.id}}" value="{{art.id}}"
          (change)="onChange(ex.id, art.id, $event.target.checked)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{distribution | json}}