<navbar></navbar>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <!-- <li class="active"><a routerLink="/projects" >Projects <span class="sr-only">(current)</span></a></li> -->
          <li routerLinkActive="active"><a [routerLink]="routes.projectsRoute">Projects <span class="sr-only">(current)</span></a></li>
          <li routerLinkActive="active"><a [routerLink]="[10, routes.extraction, routes.setting]">Setting Extraction </a></li>
          <li><a href="#">Manage Extraction Form</a></li>
          <li routerLinkActive="active"><a [routerLink]="[10, routes.extraction, routes.distribution]">Manage Articles Distribution</a></li>
          <li><a href="#">My Articles</a></li>
          <li><a id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false" class="text-center">
             Extraction Phase</a>
            <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
              <li><a [routerLink]="[10 ,routes.extraction, routes.setting]" >Setting Extraction</a></li>
              <li><a href="#">Manage Extraction Form</a></li>
              <li><a [routerLink]="[10, routes.extraction, routes.distribution]">Manage Articles Distribution</a></li>
              <li><a href="#">My Articles </a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>





