<h1 class="page-header">Setting Extraction</h1>
<ol class="breadcrumb">
  <li><a href="#">RevYou</a></li>
  <li class="">Setting Extraction</li>
</ol>
<form class="form-group" #f="ngForm" (ngSubmit)="setExtractionSetting()">
  <div class="panel panel-default">
    <div class="panel-heading">Set Deadlines</div>
      <div class="panel-body">
        
        <!-- Start Date -->
        <div class="form-group col-md-3 col-sm-6">
          <label for="startDate">Start Date</label>
          <input id="startDate" name="startDate" type="date" class="form-control"
          [(ngModel)]="extraction.startDate" min="2018-10-02" max="2098-10-02">
        </div>
    
        <!-- End Date -->
        <div class="form-group col-md-3 col-sm-6 col-md-offset-3">
          <label for="endDate">End Date</label>
          <input id="endDate" name="endDate" type="date" class="form-control col-md-4"
          [(ngModel)]="extraction.endDate" min="2018-10-02" max="2098-10-02">
        </div>
    </div>
  </div>

   <!-- Projecto utilizado para o multiselect -->
  <!-- https://github.com/ng-select/ng-select -->
  <div class="panel panel-default">
    <div class="panel-heading">Set Extraction Method</div>
      <div class="panel-body">

          <div class="form-group" >
          <!-- [ngClass]="{
            'has-danger': method.invalid  && (method.touched || method.dirty), 
            'has-success': method.valid  && (method.touched || method.dirty) 
              }" -->
              
            
            <!-- <select id="method" name="method" class="form-control" 
              required #method="ngModel" [(ngModel)]="extraction.method">
              <option value="">Select a method</option>
              <ng-container *ngFor="let m of methods">
                  <option value="{{m}}">{{m}}</option>
              </ng-container>
        
            </select> -->

            <!-- <select id="method" name="method" class="form-control" 
              required #method="ngModel" [ngModel]="extraction?.method">
              <option value="">Select a method</option>
              <ng-container *ngFor="let m of methods">
                  <option value="{{m.id}}" name="op">{{m.name}}</option>
              </ng-container>       
            </select> -->


            <!-- <select >
              <option *ngFor="let symbol of keys(symbols)"
              [ngValue]="symbols[symbol]">{{symbol}}</option>
            </select> -->

            <!-- <select>
              <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
            </select> -->

            <!-- <div class="text-danger" 
                  *ngIf="method.invalid && method.dirty"> 
                  Method is required.
            </div> -->
          
            <div class="form-group col-md-4 col-sm-6">
                <label for="method">Methods</label>
                <ng-select [items]="methods"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="false"
                           placeholder="Choose Method"
                           [(ngModel)]="extraction.method"
                           name="method">
                </ng-select>
              </div>
            

          <div class="form-group col-md-4 col-sm-6">
            <label for="extractors">Extractors</label>
            <ng-select [items]="extractors"
                       bindLabel="name"
                       bindValue="id"
                       [multiple]="true"
                       placeholder="Choose Extractors"
                       [(ngModel)]="extraction.extractors"
                       name="extractors">
            </ng-select>
          </div>
          <div class="form-group col-md-4 col-sm-6">
            <label for="decisors">Decisors</label>
            <ng-select [items]="extractors"
                       bindLabel="name"
                       bindValue="id"
                       [multiple]="true"
                       placeholder="Choose Decisors"
                       [(ngModel)]="extraction.decisors"
                       name="decisors">
            </ng-select>
          </div>

          <div class="form-group col-md-4 col-sm-6">
              <label for="amount">Extraction Amount</label>
              <input id="amount" name="amount" type="number" class="form-control"
              [(ngModel)]="extraction.amount">
          </div>
          <div class="form-group col-md-4 col-sm-6">
            <label for="score">Score</label>
            <!-- <div class="slidecontainer">
              <input type="range"  value="1" class="slider" name="score"
                id="score" [(ngModel)]="extraction.score">
            </div> -->
            {{extraction.score}} Wins x  y Loses
            <ng5-slider [(value)]="extraction.score" name="score" 
            [options]="options"></ng5-slider>
          </div>
        </div>
      </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">Set Extraction Method</div>
      <div class="panel-body">

          <div class="form-group" >
            <div class="form-check checkbox-inline col-md-2 col-sm-3" 
                  *ngFor="let attr of attributes" style="margin-left:0px">
                <input class="form-check-input" (change)="onChange(attr.name, $event.target.checked)"name="{{ attr.name }}" type="checkbox" id="{{attr.name}}">
                <label class="form-check-label" for="{{attr.name}}">
                    {{attr.name}}
                </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">Advanced Bias Reduction Settings</div>
            <div class="panel-body">
      
              <div class="form-group" >
                  <div class="form-group col-md-6 col-sm-12">
                      <label>Allow Support Data Extraction Procedure?</label><br>
                      <label class="form-check">
                          <input class="form-check-input" type="radio" name="supportData" [value]="true" [(ngModel)]="extraction.supportData">
                          Yes
                        </label>
                      <label class="form-check" style="margin-left:100px;">
                          <input class="form-check-input" type="radio" name="supportData" [value]="false" [(ngModel)]="extraction.supportData">
                          No
                        </label>
                  </div>

                  <div class="form-group col-md-6 col-sm-12">
                    <label>Perform a data extraction pilot?</label><br>
                    <label class="form-check">
                      <input class="form-check-input" type="radio" name="extractionPilot" [value]="true" [(ngModel)]="extraction.extractionPilot">
                        Yes
                      </label>
                      <label class="form-check" style="margin-left:100px;">
                        <input class="form-check-input" type="radio" name="extractionPilot" [value]="false" [(ngModel)]="extraction.extractionPilot">
                        No
                      </label>
                    </div>
                </div>
            </div>
      </div>

  <button type="button" (click)="print" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> Back</span></button>
 
  
  <button  class="btn btn-primary pull-right" type="submit" [disabled]="f.invalid || processing">
    <ng-container *ngIf="processing">
        <fa name="cog" animation="spin"></fa> Processing
    </ng-container>
  <ng-container *ngIf="!processing">
      <i class="fa fa-check"></i>  Save
  </ng-container>
</button>
</form>