/*https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider*/
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      /* width: 80px; */
      -webkit-appearance: none;
      /* background-color: #9a905d; */
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #00a663;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      /* background: #434343; */
      box-shadow: -80px 0 0 80px #00a663;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #00a663; 
}
input[type="range"]::-moz-range-track {  
  /* background-color: #9a905d; */
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #00a663; 
}
input[type="range"]::-ms-fill-upper {  
  /* background-color: #9a905d; */
}